@media screen and (max-width: 305px) {
    .form{
        margin: 2px 5px 0px 2px;
    }
}
@font-face {
    font-family: myFirstFont;
    src: url('../font/UTMAristote.ttf');
}

@media (max-width: 793px) {
    .form{
        margin: 20px 50px 0px 20px;
    }
}


.hello{
    height: 300px;
    margin:150px 10px 10px 500px
}
.img-hello{
    height: 100%
}
.first-introduce{
    background-image: url('../img/box-thinking.png');
    height: 350px;
    width: 370px;
    background-position: center;
    background-size: cover;
    margin-top: -420px;
    float: right;
    margin-right: 200px;
    color: white;
}
.txt-introduce{
    padding-top: 80px;
    padding-left: 30px;
}
.link-introduce{
    margin-left:150px;
    font-family: myFirstFont;
    font-size: 28px;
}

body{
    background-image: url('./img/background.jpg');
    background-position: center;
    background-size:cover
}
.form{
    background: linear-gradient(to right, #cfcfcf, white, white,white,#cfcfcf);
    margin: 50px 200px 10px 200px;
    box-shadow: 1px 2px 10px black;
    font-family: arial;
}
.img-profile{
    border-radius: 150%;
    float: right;
    margin:90px 5px 0px 5px;
    width: 60%;
    height: 90px;
}
.work-experience-icon{
    width: 35px;
    height: 35px;
    border: 3px solid #8f1e2b;
    border-radius: 100%;
    margin-top: 20px;
    padding: 5px 1px 1px 2px;
}
.work-experience-icon1{
    width: 35px;
    height: 35px;
    border: 3px solid #8f1e2b;
    border-radius: 100%;
    margin-top: 20px;
    padding: 2px 1px 1px 2px;
    
}
.title{
    margin-top:50px;
}
.title1{
    margin-left: 50px;
    margin-top: -30px;
    font-weight: 600;
    font-size:20px
}
.title2{
    margin-left: 50px;
    margin-top: -30px;
    font-weight: 600;
    font-size: 20px
    
}
.title3{
    font-weight: 600;
    font-size: 16px
    
}
.full-name{
    font-weight: 600;
    font-family:myFirstFont
}
.job-position{
    color: #8f1e2b;
    font-weight: 600;
}

.icon1{
    height: 20px;
    width:20px;
    float: right;
    margin-right: -12px;
}

.experience-box{
    border-left:2px solid #b32424
}
.time-point{
    float: left;
    margin-left: -135px;
}
.work-experience{
    float:left
}